.notfound {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2d3748;
  margin-top: 4rem;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  img {
    height: 3rem;
    width: 3rem;
    z-index: 2;
    margin-bottom: 1rem !important;
  }

  .v-application & .headline {
    font-size: 1.125rem !important;
    font-weight: 600;
    margin-bottom: 0.25rem;
    z-index: 2;
    line-height: 100% !important;
  }
  .v-application & .subheading {
    margin-bottom: 1rem;
    font-weight: 500 !important;
    z-index: 2;
    font-size: 0.875rem !important;
  }
  .v-btn {
    z-index: 2;

    &.home-btn {
      border-radius: 0.5rem;
      border: 0.0625rem solid #e4ecf7 !important;
      background: #fff !important;
      display: flex;
      padding: 0 !important;
      justify-content: center;
      align-items: center;
      text-transform: none;
    }
  }
}
